@media (max-width: 750px){
  .wrap {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .contents {
    width: 100%;
  }

  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main {
    width: 100%;
  }
  .message h2,.company-wrapper h2 {
    font-size: 1.5rem;
  }
/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 40%;/* メニューを画面に入れる */
}
/* メニューのデザイン*/
.drawer-content {
  width: 60%;
}
.drawer-item {
  font-size: 1.5rem;
}
  .menu {
    margin-right: 32px;
    font-size: 0.2rem;
  }
  .drawer-open {
    right: 32px;
}
/*トップ*/
.company {
  padding-top: 0;
  margin-right: -56px;
}
.copy-size {
  margin-top: 152px;
}
.contents {
  height: 60%;
}
.copy-size p {
  font-size: 1rem;
}
.copy-size h1 {
  font-size: 3rem;
}
.logo {
  width: 40%;
  margin-left: 24px;
}
.first {
  height: 90%;
}
.first::after {
  height: 60%;
}

/*vision*/
.vision-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 56px;
}
.vision {
  margin-left: 0;
}
.vision-title p {
  font-size: 1.1rem;
  font-weight: normal;
}
.vision-p {
  font-size: 0.9rem;
}
/*message*/
.message-wrapper {
  width: 100%;
  margin: 0 auto;
}
.message-img img {
  width: 90%;
}
.message {
  display: block;
  float: none;
}
.message h2 {
  margin-top: 40px;
}
.message-p {
  font-size: 0.9rem;
}
/*company*/
.company-wrapper {
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}
.company-wrapper h2 {
  width: 100%;
  margin-top: 256px;
}
.profile {
  width: 100%;
}
.profile h3{
  font-weight: normal;
  font-size: 15px;
  width: 25%;
}
.profile p {
  font-size: 0.9rem;
}
.map-img {
  margin-bottom: 32px;
}
}
